/node_modules
/vendors/echarts/build
/vendors/echarts/extension
/vendors/echarts/map
/vendors/echarts/src
/vendors/echarts/test
/vendors/echarts/theme
/vendors/echarts/.bower.json
/vendors/echarts/.editorconfig
/vendors/echarts/.gitignore
/vendors/echarts/.jshintrc
/vendors/echarts/.npmignore
/vendors/echarts/index.common.js
/vendors/echarts/index.js
/vendors/echarts/index.simple.js
/vendors/echarts/LICENSE
/vendors/echarts/package.json
/vendors/echarts/README.md
/vendors/echarts/webpack.config.js
/vendors/echarts/.github
/vendors/echarts/asset
/vendors/echarts/benchmark
/vendors/echarts/dist/echarts.common.min.js
/vendors/echarts/dist/echarts.min.js
/vendors/echarts/dist/echarts.simple.js
/vendors/echarts/dist/echarts.simple.min.js
/vendors/echarts/dist/extension
/vendors/echarts/dist/echarts.common.js
