<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>测试</title>
        <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/scrollbar-plugin/jquery.mCustomScrollbar.css">
    </head>
    <body ng-controller="HelloController as self">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span ng-bind="hello.word"></span>
                    <div ui-grid="self.gridOptions">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <form class="form form-horizontal" action="index.html" method="post">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">数字组件：</label>
                                <div class="col-xs-4">
                                    <input type="integer"
                                        class="form-control"
                                        ui-number
                                        name="integerNumber"
                                        ng-min="0"
                                        ng-max="100"
                                        step="1"
                                        ng-model="self.integerNumber"
                                        ng-model-options="{updateOn:'blur'}"
                                        placeholder="整数(0,100,1)">
                                    <div ng-bind="self.integerNumber"> </div>
                                </div>
                                <div class="col-xs-4">
                                    <input
                                    type="float"
                                    class="form-control"
                                    ui-number
                                    name="floatNumber"
                                    ng-min="0"
                                    ng-max="1"
                                    step="0.01"
                                    ng-model="self.floatNumber"
                                    placeholder="小数(0,1,0.01)">
                                    <div ng-bind="self.floatNumber"> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <span ng-bind="'xxxx'|translate:{placeholder:'\{\{占位符内容\}\}'}"></span>
                    <span ng-bind="'xxxx'|translate:'en':{placeholder:''}"></span>
                </div>
            </div>
        </div>
        <script src="/vendors/requirejs/require.js" data-main="/demo/test" async defer charset="utf-8"></script>
    </body>
</html>
